/* @TIPOGRAFÍA */
/* ********** */
@font-face {
    font-family: "arial", sans-serif;
    src: url(../../font/arialnormal.woff2) format(woff2), 
        url(../../font/arialnormal.woff)format(woff);
}
@font-face {
    font-family: "arialblack", sans-serif;
    src: url(../../font/arialblack.woff2) format(woff2), 
        url(../../font/arialblack.woff)format(woff);
}

html{
    font-family: "arial";
}

h1{
    font-size: 62,48px;
}